# Strapi configuration
DATABASE_NAME=
# MySQL default port is 3306
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
# 'false' or 'true'
DATABASE_SSL=

# MySQL configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=